<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.petsoftwaremb.activitys"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!--==========================PERMISSÕES==========================-->
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!--==========================ACTIVITYS==========================-->
        
        <activity
            android:name="br.com.petsoftwaremb.activitys.PrincipalActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="br.com.petsoftwaremb.activitys.ShowActivity" >
        </activity>
        <activity android:name="br.com.petsoftwaremb.activitys.FormActivity" >
        </activity>
        <activity android:name="br.com.petsoftwaremb.activitys.ConfiguracaoActivity">            
        </activity>
        <activity android:name="br.com.petsoftwaremb.activitys.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--==========================SERVIÇOS==========================-->
        
        <service android:name="br.com.petsoftwaremb.services.NotificacaoAgendaTeste" >
            <intent-filter>
                <action android:name="NOTIFICACAO_AGENDA" />
            <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
        </service>
        
        <service android:name="br.com.petsoftwaremb.services.NotificacaoService" >
            <intent-filter>
                <action android:name="NOTIFICACAO_AGENDA" >
                    <category android:name="android.intent.category.DEFAULT" />
                </action>
            </intent-filter>
        </service>

        <receiver android:name="br.com.petsoftwaremb.services.StartupReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>